* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.watsap {
  text-decoration: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: #00bb2d;
  border-radius: 100%;
  font-size: 70px;
  z-index: 1;
  padding: 10px;
  height: 100px;
  display: none;
}

.watsap a {
  text-decoration: none;
  color: white;
}

.Encabezado {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  height: 130px;
  overflow: hidden;
}

.nav {
  width: inherit;
}

.navegacion .logo {
  color: white;
  font-size: 30px;
}

.navegacion .nav a {
  display: flex;
  color: white;
  font-size: 20px;
}
/* Galeria de productos */
.title-galery{
  font-weight: 400;

}
.container-galery{
  height: 450px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 5px;
  grid-template-areas: 
  "img1 img2 img3"
  "img4 core img6"
  "img7 img8 img9";
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img:hover{
  filter: grayscale(20%);
  cursor: pointer;
  transition: filter .5s;
}
.img-5{
  grid-area: core;
  object-fit: contain;
}
.container-img{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transform: translateX(-100%);
  transition: .4s ease-in transform;
}
.show-container{
  transform: translateX(0);
}
.img-show{
  display: block;
  height: 85%;
  object-fit: cover;
  transform: scale(0);
  z-index: 10000;
  transition: transform .3s .4s;
}
.show-img{
  transform: scale(1);
}
.bx-x-circle{
  position: absolute;
  top: 20px;
  right: 10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 10000;
}
/* Productos */
.main-productos{
  padding: 20px;
  position: relative;
  text-align: center;
}

.title-main-productos,
.title-section {
  color: green;
  padding: 15px;
  font-weight: 400;
}
.title-main-productos{
  color: #14141f;
}

.contenedor-productos {
  padding-top: 30px;
  width: 90%;
  height: auto;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
}

.contenedor-specific-produc {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;

}

.prod {
  width: 350px;
  height: auto;
  max-height: 535px;
  max-width: 350px;
  transition: all 0.8s;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.prod:last-child {
  margin-bottom: 0;
}

.prod:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.nombre-producto {
  background-color: #513530;
  color: white;
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
}

.prod-header img {
  width: inherit;
  height: 250px;
  padding: 0 30px;
}

.prod-body {
  padding: 5px;
}

.prod-body .precio {
  font-family: "Nunito", sans-serif;
  color: green;
  font-weight: bold;
  text-align: center;
}

.prod-body .description {
  font-size: 17px;
  padding: 0 5px;
  min-height: 90px;
  max-height: 92px;
}

.prod-body .cont-cant {
  padding-top: 10px;
  display: flex;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.cont-cant label {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.cont-cant select {
  font-size: 17px;
  text-align: center;
  border-radius: 4px;
  width: 50px;
  height: 38px;
}

.agregar-carrito,
.ver-carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  width: 80%;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.agregar-carrito::before {
  content: '';
  background-image: url(../img/buy.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.agregar-carrito::after {
  content: 'Agregar al Carrito';
  margin-left: 10px;
}

.ver-carrito {
  border: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: .5s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

/* .ver-carrito:hover {
  border-radius: 8px;
  width: 200px;
  height: 50px;
} */

/* .ver-carrito:hover span {
  display: block;
  transition: .3s ease 1s;
} */

/* .ver-carrito:hover i {
  margin-right: 10px;
} */

.ver-carrito span {
  display: none;
  transition: .3s ease 1s;
}

.ver-carrito i {
  font-size: 40px;
}

.agregar-carrito:hover,
.ver-carrito:hover {
  background-color: #055519;
}

.pushbar.pushbar-carrito {
  width: 350px;
  background-color: #000;
}

.pushbar-carrito {
  font-size: 18px;
  color: white;
}

.pushbar-carrito .titulo {
  font-size: 22px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid rgba(112, 112, 112, 0.6);
  margin-bottom: 20px;
}

.pushbar-carrito .item {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 20px;
  height: 150px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.6);
  transition: .2s ease-in-out;
}

.pushbar-carrito .item:hover {
  background-color: crimson;
}

.pushbar-carrito .item:hover .btn-eliminar-prod {
  display: block;
  transition: .5s ease-in-out;
}

.btn-eliminar-prod {
  text-decoration: none;
  position: absolute;
  color: white;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.btn-cerrar-cart {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  color: white;
  top: 23px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.btn-cerrar-cart:hover {
  color: rgba(255, 255, 255, 0.8);
}

.pushbar-carrito .item img {
  width: 100%;
  max-width: 85px;
}

.pushbar-carrito .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.pushbar-carrito .total {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.btn-compras {
  width: 100%;
  padding: 10px 0;
}

.btn-success,
.btn-danger {
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 8px;
  color: white;
}

.btn-danger {
  background-color: #Dc3545;
  border: 1px solid #Dc3545;
}

.btn-success {
  background-color: #28A745;
  border: 1px solid #28A745;

}

.btn-success:hover {
  background-color: #218838;
  border: 1px solid #1e7e34;
}

.btn-danger:hover {
  background-color: #c82333;
  border: 1px solid #bd2130;
}
.ctn-btn-pedidos{
  margin-top: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pedidos {
  position: relative;
  display: block;
  background-color: transparent;
  border: 1px solid #ff2800;
  color: #ff2800;
  font-weight: 700;
  width: 250px;
  height: 50px;
  transition: .5s ease;
  overflow: hidden;
}
.btn-pedidos::before {
  background-color: #ff2800;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 50px;
  transition: .5s ease;
}

.btn-pedidos:hover::before {
  left: 0;
}

.btn-pedidos:hover>span {
  position: relative;
  z-index: 10000;
  color: white;
  transition: .5s ease .2s;
}

@media screen and (max-width:750px) {
  .img-show{
    height: auto;
    width: 90%;
    /* object-fit: contain; */
  }
}
@media screen and (max-width:620px) {
  .prod {
    min-width: 450px;
    margin: 25px;
  }
  .contenedor-specific-produc {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .contenedor-specific-produc::-webkit-scrollbar {
    margin-top: 5px;
    height: 2px;
  }

  .contenedor-specific-produc::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .contenedor-specific-produc::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  .contenedor-specific-produc::-webkit-scrollbar-thumb {
    background: rebeccapurple;
    width: 50%;
    border-radius: 50px;
  }
}

@media screen and (max-width:500px) {
  .container-slider {
    display: none;
  }
  .bx.bx-x-circle{
    top: 200px;
  }
  .title-galery{
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
    color: #14141f;
  }
  .container-slider.sli {
    display: block;
    margin-bottom: 10px;
  }

  .contenido-slider.slide-productos {
    height: 400px;
    width: 100%;
  }

  .contenido-slider.slide-productos>img {
    padding: 0 10px;
    width: 100%;
  }

  .main-productos {
    padding: 0;
  }

  .contenedor-productos {
    padding: 0;
  }

  .prod-header img {
    padding: 0;
    height: 150px;
  }

  .prod {
    min-width: 90%;
    margin: 15px 8px;
  }

  .prod-header .nombre-producto {
    font-size: 20px;
  }

  .agregar-carrito::after {
    content: 'Agregar al Carrito';
    font-size: 15px;
  }
}