* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/** Boton para subir pagina*/
div#btnUp {
    box-sizing: border-box;
    position: fixed;
    z-index: 100000;
    cursor: pointer;
    opacity: 1;
    bottom: 800px;
    right: 20px;
    border: #000 1.3px solid;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: .8s;
    background-color: #fff;
    padding: 5px;
    scroll-behavior: smooth;
}

div#btnUp div {
    margin: 0;
    padding: 0;
    background-color: #ff2800;
    border-radius: 50%;
}

div#btnUp i {
    color: #fff;
    font-size: 45px;
}

div#btnUp:hover {
    opacity: .7;
}

div#btnUp.active {
    bottom: 50px;
    opacity: 1;
    visibility: visible;
}

/** Utilidades */
html {
    /* font-size: 62.5%; */
    /* Reset para REMS - 62.5% = 10px de 16px */
    scroll-behavior: smooth;
}

body {
    background: #f1f1f1;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

.fw-300 {
    font-weight: 300;
}

.text-center {
    text-align: center;
    letter-spacing: 1px;
}

.section {
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn {
    text-align: center;
    color: black;
    background-color: #fff;
    display: block;
    width: 250px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Fin utilidades */
.contenedor {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.header.inicio {
    position: relative;
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.header {
    position: relative;
}

.header .overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.nav,
.nav-two {
    position: relative;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.nav-two {
    height: 100%;
}

.nav .logo,
.nav-two .logo {
    margin-left: 50px;
    height: 100%;
}

.logo img {
    height: 100%;
}

.nav-two .enlaces {
    width: 50%;
}

.enlaces {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.enlaces a {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #048306;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: .3s ease-in-out border;
    padding: 10px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}
.enlaces a:first-child{
    margin-left: 0;
}

.enlaces a:hover {
    border-top: 1.5px solid #ff2800;
    border-bottom: 1.5px solid #ff2800;
}

.hamburger {
    display: none;
}

.hamburger span {
    height: 100%;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.text-header {
    position: absolute;
    font-size: 45px;
    color: #513530;
    font-family: 'Satisfy', cursive;
    user-select: none;
    left: 50px;
    bottom: 200px;
    margin-bottom: 25px;
    text-shadow: white -4px 3px;
}

/* Acerca de nuestros Productos */
#productos {
    width: 100%;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: left center;
}

.title-about-product {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.content-product {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.about-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
}

.contenido-product {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.contenido-product h1{
    color: white;
}
.about-product p {
    text-align: justify;
    color: white;
    width: 100%;
    font-size: 22px;
}

.about-product .btn-productos {
    position: relative;
    display: block;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    height: 50px;
    transition: .5s ease;
    margin-top: 25px;
    overflow: hidden;
}

.about-product .btn-productos::before {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 50px;
    transition: .5s ease;
}

.btn-productos:hover::before {
    left: 0;
}

.btn-productos:hover>span {
    position: relative;
    z-index: 10000;
    color: black;
    transition: .5s ease .2s;
}

/* -------------------------------------------------------------------------- */
/*                            Seccion Curiosidades                            */
/* -------------------------------------------------------------------------- */
.subtitle {
    text-align: center;
    font-weight: 500;
    color: gray;
}

.contenido-curiosidad {
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.contenido-curiosidad img {
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.curiosidad {
    text-align: center;
    padding: 25px;
}

.curiosidad h3 {
    font-size: 40px;
    padding-bottom: 20px;
}

.curiosidad p {
    text-align: justify;
    font-size: 20px;
}
.curiosidad .btn-curiosidad {
    position: relative;
    background-color: transparent;
    margin-top: 20px;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    height: 50px;
    transition: .5s ease;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

.curiosidad .btn-curiosidad::before {
    content: '';
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 50px;
    transition: .5s ease;
}

.btn-curiosidad:hover::before {
    left: 0;
}

.btn-curiosidad:hover>span {
    position: relative;
    z-index: 10000;
    color: white;
    transition: .5s ease .2s;
}
/* -------------------------------------------------------------------------- */
/*                              contenido footer                              */
/* -------------------------------------------------------------------------- */
.footer {
    height: 80px;
    width: 100%;
    max-width: 1600px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.footer .logo-footer {
    width: 70px;
    height: 70px;
}

.copyright {
    font-size: 20px;
    color: #FFF;
}

.social-media ul {
    display: flex;
}

.social-media a {
    text-decoration: none;
}

.social-media a:hover i {
    color: #1fde82;
}

.social-media a i {
    font-size: 40px;
    color: white;
}

.social-media ul li {
    margin-left: 20px;
}

.social-media ul li:first-child {
    margin-left: 0;
}

/* -------------------------------------------------------------------------- */
/*                           Pagina de curiosidades                           */
/* -------------------------------------------------------------------------- */
.header-two {
    height: 150px;
    width: 100%;
    position: relative;
    background-color: #14141f;
}

.header-two .enlaces a {
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: 1.5px solid transparent;
    transition: .3s ease-in;
}
.header-two .enlaces a:hover{
    border: 2px solid #ff2800;
}
.main-curiosidad {
    width: 100%;
    margin: auto;
}

.article-gen {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    padding: 20px 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.title-curiosidad {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title-curiosidad h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.article {
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    height: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.article h3 {
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}

.article article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.article img {
    transform: translateY(-20px);
    max-height: 250px;
    width: 300px;
}

.article p {
    margin-right: 60px;
    margin-left: 30px;
    width: 450px;
    text-align: justify;
    font-size: 20px;
}

.article-curiosidad a {
    display: inline;
    color: #ff2800;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
/* Slider */
.container-slider{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .slider-cont{
    width: 100%;
    display: flex;
  }
  .contenido-slider{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
  }
  
  .contenido-slider > img{
    width: 400px;
  }
  .contenido-slider > h2{
     width: 40%;
     font-weight: 600;
     line-height: 50px;
     color: grey;
  }
  .bg-green{
    background-color: green;
  }
  .bg-green > h2{
    color: white;
  }
  .puntos{
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .punto{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 5px;
  }
  .activepuntos{
    background-color: #ff3d00;
  }
/* Contactos */
.main-contactos{
    width: 100%;
}
.cont-contactos{
    margin: auto;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.information-contact{
    width: 350px;
    height: auto;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.information-contact h1{
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 15px 0;
}
.information-contact h2{
    font-weight: 400;
    font-size: 25px;
    margin: 15px 0;
}
.information-contact p{
    margin: 15px 0;
    font-size: 20px;
}
.form-contactos{
    width: 50%;
    box-sizing: border-box;
}
.form-contactos h3{
    margin-left: 5px;
    font-weight: 300;
}
.form-group{
    width: 100%;
    display: flex;
}
.form-group textarea{
    width: 100%;
    margin: 10px 5px;
    resize: none;
    font-size: 20px;
    background-color: transparent;
    padding: 5px;
    outline: none;
}
input[type="text"],
input[type="email"]{
    display: block;
    font-size: 20px;
    width: 100%;
    margin: 10px 5px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: 1.5px solid #000;
}
input[type="submit"]{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
}
input[type="submit"]:hover{
    background-color: #222;
}

/* Responsive */
@media screen and (max-width:900px) {
    .header.inicio {
        background-position: center center;
    }

    .enlaces a {
        font-size: 18px;
        padding: 5px;
    }

    .curiosidad h3 {
        font-size: 30px;
    }

    .curiosidad p {
        font-size: 17px;
    }

    .about-product {
        height: 100vh;
    }
    .contenido-slider > img{
        width: 250px;
    }
  
    .contenido-slider > div{
        width: 40%;
    }
  
    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:768px) {
    .nav-two .enlaces {
        width: 100%;
    }
    .enlaces{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: all .6s ease;
        background-color: #14141f;
    }
    .enlaces.activeMenu{
        right: 0;
    }

    .enlaces a {
        margin: 10px 0;
        background-color: transparent;
        color: white;
        text-align: center;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        border: 1px solid transparent;
    }

    .enlaces a:hover {
        color: #ff3d00;
        border: 1px solid #ff3d00;
    }

    .nav .logo,
    .nav-two .logo {
        margin-left: 10px;
    }
    .hamburger {
        position: absolute;
        top: 50px;
        right: 30px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 25%;
        z-index: 100;
        cursor: pointer;
    }
    .text-header {
        bottom: 0;
    }

    .curiosidad h3 {
        font-size: 30px;
    }

    .curiosidad p {
        font-size: 15px;
    }

    .contenido-curiosidad {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .content-product {
        height: auto;
        min-height: 600px;
        background-color: rgba(0, 0, 0, .7);
    }

    .about-product {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .contenido-product {
        margin-top: 80px;
    }

    .article {
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
    }

    .article article {
        flex-direction: column;
    }

    .article h3 {
        margin-bottom: 30px;
    }

    .article article img {
        width: 100%;
    }

    .article article p {
        margin: 0;
        max-width: 100%;
        height: auto;
    }
    .cont-contactos{
        width: 90%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .information-contact{
        width: 100%;
    }
    .information-contact h1{
        text-align: center;
    }
    .form-contactos{
        width: 100%;
    }

}

@media screen and (max-width:680px) {
    .contenido-product {
        margin-top: 50px;
    }

    .contenido-curiosidad {
        flex-direction: column;
    }

    .imgen {
        width: 100%;
    }

    .curiosidad {
        width: 100%;
    }

    .article-curiosidad {
        flex-direction: column;
    }

    .article-curiosidad:nth-child(odd) {
        flex-direction: column;
    }

    .article-curiosidad img {
        width: 100%;
    }

    .cont-article h3 {
        padding-top: 15px;
    }

    .cont-article {
        width: 100%;
    }

    .cont-article p {
        margin: 0;
    }
}
@media screen and (max-width:620px){
    .contenido-slider{
      flex-direction: column-reverse;
   }
  
   .contenido-slider > h2{
       width: 80%;
   }
  }

@media screen and (max-width:500px) {
    .about-product p {
        font-size: 18px;
    }
    .footer {
        height: auto;
        flex-direction: column-reverse;
    }
    .logo-footer {
        display: none;
    }
    .social-media {
        margin-top: 15px;
    }
    .copyright {
        /* margin-top: 5px;
         */
         margin: 0;
    }
    .article-gen {
        padding: 20px 0;
        margin: 0 auto;
        width: 90%;
    }
    .title-curiosidad h1 {
        font-size: 35px;
        font-weight: 700;
    }
    .article h3 {
        font-size: 20px;
    }
    .slider{
        display: none;
    }
    .prod{
        max-height: 650px !important;
    }
    .contenedor-productos{
        width: 100%;
    }
    .form-group{
        flex-direction: column;
    }

}