*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Satisfy', cursive; */
    user-select: none;
}
/** Boton para subir pagina*/
div#btnUp{
    position: fixed;
    z-index: 100000;
    cursor: pointer;
    opacity: 1;
    bottom: 800px;
    right: 40px;
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}
div#btnUp i{
   color: #ff2800;
    font-size: 6rem;
}
div#btnUp:hover{
    opacity: .7;
}
div#btnUp.active{
    bottom: 40px;
    opacity: 1;
    visibility: visible;
}

/** Utilidades */
html{
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
}
body{
    background: #f1f1f1;
}
img{
    max-width: 100%;
}
h1{
    font-size: 3.8rem;    
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
.fw-300{
    font-weight: 300;
}
.text-center{
    text-align: center;
    letter-spacing: 1px;
}
.section{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.btn{
    text-align: center;
    color: black;
    background-color: #fff;
    display: block;
    width: 25rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 20px;
}
.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/** Fin utilidades */
.contenedor{
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;
}
.header.inicio{
    position: relative;
    background-image: url(../img/banner1.jpg);
    /* background-position: center center; */
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}
.navegacion{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion .logo{
    text-decoration: none;
    font-size: 3.5rem;
    color: #513530;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.navegacion .logo img{
    height: 10rem;
    margin-right: 2rem;
}
.navegacion .nav a{
    text-decoration: none;
    font-size: 2.5rem;
    color: #513530;
    margin-left: 3.5rem;
    font-weight: 700;
    border-bottom: transparent 1.5px solid;
    border-top: transparent 1.5px solid;
    transition: .2s ease;
}
.navegacion .nav a:first-child{
    margin-left: 0;
}
.nav a:hover{
    border-bottom:#CF4025 1.5px solid;
    border-top: #CF4025 1.5px solid;
}
.text-header{
    position: absolute;
    font-size: 4.5rem;
    color: #513530;
    font-family: 'Satisfy', cursive;
    user-select: none;
    bottom: 200px;
    margin-bottom: 25px;
    text-shadow: white -4px 3px;
}

/* Acerca de nuestros Productos */
#productos{
    width: 100%;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: left center;
}
.title-about-product{
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    color: white;
}
.content-product{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}
.about-product{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
}
.contenido-product{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.about-product p{
    text-align: center;
    color: white;
    width: 100%;
    font-size: 2.2rem;
}
.about-product .btn-productos{
    position: relative;
    display: block;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    height: 50px;
    transition: .5s ease;
    margin-top: 25px;
    overflow: hidden;
}
.about-product .btn-productos::before{
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -25rem;
    width: 25rem;
    height: 50px;
    transition: .5s ease;
}
.btn-productos:hover::before{
    left: 0;
}
.btn-productos:hover > span{
    position: relative;
    z-index: 10000;
    color: black;
    transition: .5s ease .2s;
}

/* -------------------------------------------------------------------------- */
/*                            Seccion Curiosidades                            */
/* -------------------------------------------------------------------------- */
.subtitle{
    text-align: center;
    font-weight: 500;
    color: gray;
}
.contenido-curiosidad{
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.contenido-curiosidad  img{
    align-items: center;
    width: 100%;
    max-width: 500px;
}
.curiosidad{
    text-align: center;
    padding: 2.5rem;
}
.curiosidad h3{
    font-size: 4rem;
    padding-bottom: 2rem;
}
.curiosidad p{
    text-align: justify;
    font-size: 2rem;
}
.curiosidad .btn-curiosidad{
    position: relative;
    background-color: transparent;
    margin-top: 2rem;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    height: 50px;
    transition: .5s ease;
    overflow: hidden;
    margin: 2rem auto 0 auto;
}
.curiosidad .btn-curiosidad::before{
    content: '';
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: -25rem;
    width: 25rem;
    height: 50px;
    transition: .5s ease;
}
.btn-curiosidad:hover::before{
    left: 0;
}
.btn-curiosidad:hover > span{
    position: relative;
    z-index: 10000;
    color: white;
    transition: .5s ease .2s;
}





/*  */
.productos{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding: 5rem 0;
}
.producto{
    width: 350px;
    height: 280px;
    background: #95CF25;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
    transition:.5s ease-in all;
    margin-bottom: 10rem;
}

.producto:hover{
    height: 450px;
}
.producto:hover .descripcion{
    display: block;
}
.producto:hover .textos-productos{
    visibility: visible;
}
.imgPro{
    width: 100%;
    height: 100%;
    max-height: 280px;
}
.imgPro img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.descripcion{
    display: none;
}
.producto h3{
    letter-spacing: 1px;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}
.descripcion .textos-productos{
    color: white;
    padding: 2rem 1rem;
    text-align: justify;
    font-size: 1.5rem;
    visibility: hidden;
}

/* -------------------------------------------------------------------------- */
/*                              contenido footer                              */
/* -------------------------------------------------------------------------- */
.footer{
    height: 80px;
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .logo-footer{
    width: 70px;
    height: 70px;
}
.copyright{
    font-size: 2rem;
    color: #FFF;
}
.social-media ul{
    display: flex;
}
.social-media a{
    text-decoration: none;
}
.social-media a:hover i{
    color: #1fde82;
}
.social-media a i{
    font-size: 4rem;
    color: white;
}
.social-media ul li{
    margin-left: 20px;
}
.social-media ul li:first-child{
    margin-left: 0;
}

/* Responsive */
@media screen and (max-width:900px){
    .navegacion .nav a{
        font-size: 2rem;
        margin-left: 2rem;
    }
    .header.inicio{
        background-position: center center;
    }
    .curiosidad h3{
        font-size: 3rem;
    }
    .curiosidad p{
        font-size: 1.7rem;
    }

}
@media screen and (max-width:768px){
    .nav{
        display: none;
    }
    .text-header{
        bottom: 0;
    }
    .navegacion .logo img{
        height: 8rem;
    }
    .navegacion .logo{
        font-size: 3rem;
    }
    .curiosidad h3{
        font-size: 3rem;
    }
    .curiosidad p{
        font-size: 1.5rem;
    }
    .contenido-curiosidad{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .content-product{
        height: auto;
        min-height: 600px;
        background-color: rgba(0, 0, 0, .7);
    }
    .about-product{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .contenido-product{
        margin-top: 80px;
    }
}
@media screen and (max-width:680px){
    .contenido-product{
        margin-top: 50px;
    }
    .contenido-curiosidad{
        flex-direction: column;
    }
    .imgen{
        width: 100%;
    }
    .curiosidad{
        width: 100%;
    }

}
@media screen and (max-width:500px){
    .about-product p{
        font-size: 1.8rem;
    }
    .footer{
        height: auto;
        flex-direction: column-reverse;
    }
    .logo-footer{
        display: none;
    }
    .social-media{
        margin-top: 15px;
    }
    .copyright{
        margin-top: 10px;
    }
}